html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    background: linear-gradient(to bottom , #d7ced4 60%, #ffffc6) fixed;
    text-align: center;
    font-size:24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto {
    text-align: left;
}

#fondobanner {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
}

#logobanner2 {
    position: right;
    margin: 4%;
    width: 15%;
    height: auto;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    text-decoration: dotted;
    text-shadow: 1px 1px 1px black;
}

.container {
    width: 300px;
    margin: 0 auto;
}

section article {
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    
}
section article:hover {
    box-shadow: 0  0.1rem  0.4rem  rgba(0 , 0 , 0 , 0.3);
}

section article h2, section article p {
    margin: 1rem;
}


footer {
    background-color: #000000;
    padding: 3rem;
    color:#fff;
}

footer section {
    float:right ;
}

footer p {
    margin:0;
}

footer a {
    transition: color 0.3;
    color:#fff;
    text-decoration: none ;
}

footer a:hover {
    color: #ff5733 ;
}


